Dataset*
DadaGP-v1.1/
DadaGP-v1.1
10984521/
Dataset_new/
Dataset_midi/*
!Dataset_midi/.gitkeep
__pycache__

*.pdf
**/slurm-*
*.log
# slurm-*


outputs/
logs_*/

.vscode/
CLAUDE.md
GEMINI.md
.cursor/
.agent/